{% extends "base.html" %}
{% load static %}

{% block title %}
<title>type2_lunch</title>
{% endblock title %}

{% block basepage %}
<body class="bg-gray-100 text-gray-800">
    <a href="{% url 'diabetesdietdata' %}" class="back-button">
        <img src="{% static 'images/backbutton1.png' %}" alt="Back" title="Go back">
    </a>
    <div class="container mx-auto p-4">
        <h1 class="text-4xl mb-8 text-center">Lunch</h1>

        <div class="space-y-8 mb-12">
            <!-- Lunch 1 -->
            <div class="flex items-center space-x-4 bg-black p-4 rounded-none shadow">
                <!-- Description -->
                <div class="w-2/3">
                    <h2 class="text-xl mb-2">Vegetable Daal</h2>
                    <p>A hearty mix of lentils cooked with assorted vegetables like spinach, carrots, and tomatoes, seasoned with spices. Serve it with a small portion of brown rice for a balanced meal rich in protein and fiber</p>
                </div>
        
                <!-- Image -->
                <div class="w-1/3 h-48 bg-cover bg-center" style="background-image: url('{% static 'images/diabetes/d3lunch1.gif' %}');">
                </div>
            </div>
        
            <!-- Lunch 2 -->
            <div class="flex items-center space-x-4 bg-black p-4 rounded-none shadow">
                <!-- Description -->
                <div class="w-2/3">
                    <h2 class="text-xl mb-2">Stuffed Bitter Gourd (Karela)</h2>
                    <p>Bitter gourd filled with a mixture of spiced paneer or besan (chickpea flour) and sautéed onions. This dish is low in carbohydrates and helps control blood sugar levels</p>
                </div>
        
                <!-- Image -->
                <div class="w-1/3 h-48 bg-cover bg-center" style="background-image: url('{% static 'images/diabetes/d3lunch2.jpeg' %}');">
                </div>
            </div>
        
            <!-- Lunch 3 -->
            <div class="flex items-center space-x-4 bg-black p-4 rounded-none shadow">
                <!-- Description -->
                <div class="w-2/3">
                    <h2 class="text-xl mb-2">Mixed Vegetable Soup</h2>
                    <p>A warm soup made from a variety of non-starchy vegetables like broccoli, cauliflower, and carrots, seasoned with herbs and spices. Pair it with a slice of whole grain bread for added fiber</p>
                </div>
        
                <!-- Image -->
                <div class="w-1/3 h-48 bg-cover bg-center" style="background-image: url('{% static 'images/diabetes/d3lunch3.gif' %}');">
                </div>
            </div>
        </div>
    </div>
    {% block navbar %}

    {% endblock navbar %}
    {% block footer %}
    {% endblock footer %}

</body>
{% endblock basepage %}
