{% extends "base.html" %}
{% load static %}

{% block title %}
<title>prehypertension_lunch</title>
{% endblock title %}

{% block basepage %}
<body class="bg-gray-100 text-gray-800">
    <a href="{% url 'bloodpressuredietdata' %}" class="back-button">
        <img src="{% static 'images/backbutton1.png' %}" alt="Back" title="Go back">
    </a>

    <div class="container mx-auto p-4">
        <h1 class="text-4xl mb-8 text-center">Lunch</h1>

        <div class="space-y-8 mb-12">
            <!-- Lunch 1 -->
            <div class="flex items-center space-x-4 bg-black p-4 rounded-none shadow">
                <!-- Description -->
                <div class="w-2/3">
                    <h2 class="text-xl mb-2">Mixed Dal Khichdi with Vegetable Raita</h2>
                    <p>One-pot meal of rice and mixed lentils with mild spices
                        Balanced meal providing complete proteins and complex carbs
                        Serve with vegetable raita for probiotics and added nutrients</p>
                </div>
        
                <!-- Image -->
                <div class="w-1/3 h-48 bg-cover bg-center" style="background-image: url('{% static 'images/bloodpressure/blunch1.jpeg' %}');">
                </div>
            </div>
        
            <!-- Lunch 2 -->
            <div class="flex items-center space-x-4 bg-black p-4 rounded-none shadow">
                <!-- Description -->
                <div class="w-2/3">
                    <h2 class="text-xl mb-2">Grilled Paneer and Vegetable Wrap</h2>
                    <p>Whole wheat roti filled with grilled paneer and mixed vegetables
                        Good source of calcium and various vitamins and minerals
                        Accompany with a small serving of cucumber and tomato salad</p>
                </div>
        
                <!-- Image -->
                <div class="w-1/3 h-48 bg-cover bg-center" style="background-image: url('{% static 'images/bloodpressure/blunch2.jpeg' %}');">
                </div>
            </div>
        
            <!-- Lunch 3 -->
            <div class="flex items-center space-x-4 bg-black p-4 rounded-none shadow">
                <!-- Description -->
                <div class="w-2/3">
                    <h2 class="text-xl mb-2">Chickpea and Spinach Curry with Brown Rice</h2>
                    <p>Nutrient-dense curry rich in folate and magnesium
                        Use low-sodium vegetable broth for added flavor without excess salt
                        Serve with a small portion of brown rice and a wedge of lemon</p>
                </div>
        
                <!-- Image -->
                <div class="w-1/3 h-48 bg-cover bg-center" style="background-image: url('{% static 'images/bloodpressure/blunch3.jpg' %}');">
                </div>
            </div>
        </div>
    </div>
    {% block navbar %}

    {% endblock navbar %}
</body>

{% endblock basepage %}
